[submodule "hw-docs"]
	path = hw-docs
	url = https://github.com/AndyLiner13/hw-docs
	branch = main
[submodule "noesis-docs"]
	path = noesis-docs
	url = https://github.com/AndyLiner13/noesis-docs
	branch = main
[submodule "hw-mcp-tools"]
	path = hw-mcp-tools
	url = https://github.com/AndyLiner13/hw-mcp-tools
	branch = main